@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.slider-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.left-slider {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
}

.left-slider > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  color: white;
}

.left-slider h1 {
  margin-bottom: 15px;
}

.right-slider {
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  height: 100%;
  transition: 0.4s ease-in-out;
}

.right-slider > div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.slider-container .action-buttons button {
  position: absolute;
  top: 50%;
  left: 35%;
  z-index: 100;
}
.slider-container .action-buttons .down-button {
  transform: translateX(-100%);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.slider-container .action-buttons .up-button {
  transform: translateY(-100%);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

button {
  background-color: #fff;
  color: #aaa;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  color: #222;
}
